.CardElement{
  
    color:var(--primary-text);
}
.CardHeader{
    color:var(--primary-text);
    font-weight: bold;
    font-size: 1.5rem;
}
.Card{

    padding:1rem;
    border-radius: 10px;
    padding: 20px;
    width: min(500px,45vw);
    margin-bottom: 20px;

    transition: 0.15s;
    box-sizing: border-box;
    margin:4%;
    display:inline-flex;
    -size: 1.2rem;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    flex:1;
}
.CardImage{
    min-height: 200px;
    width: min(300px,40vw);
    padding: 20px;
}
.Card:hover{
    transform: scale(1.1);
   

}
.Card a{
    overflow: wrap;
    text-decoration: none;
}
.card-a{
    text-decoration: none;
}
@media (max-width:800px)
{
    .Card{
        margin: auto;
        margin-top:10%;
        margin-bottom:10%;
        width: 90%;
    }
}
.card-content{
    -weight: bold;

    padding:1rem;

}
.Card a{

    
}
.card-content{
    text-align: center;
    -weight: bold;
}
html{

}
.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--accent-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: background-color 0.15s ease-in-out;
}

.gauge-2 {
    background-color: rgb(0, 166, 255);
    transition: background-color 0.15s ease-in-out;
}

.gauge:before {
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}

.gauge .chart {
    overflow: hidden;
}

.gauge .mask {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    top: 20%;
    background-color: var(--primary-card-bg);
    border-radius: 50%/100% 100% 0 0;
    opacity: 1;
    transition: transform 0.15s ease-in-out;
}

.gauge .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #fff);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition: transform 0.15s ease-in-out;
    --rotation: 180deg;
}

.gauge:hover {
    --rotation: 100deg;
}

.gauge .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
    transition: transform 0.15s ease-in-out;
}

.gauge .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.guage {
    width: 200px;
    --rotation: 90deg;
    --color: #5cb85c;
    --background: #e9ecef;
    transition: transform 0.15s ease-in-out;
}


.alert{

    margin:auto;
    margin-bottom: 2rem;
    padding:1rem;
    border-radius:5px;
    box-shadow:0 0 15px 5px #000000;
    background-color: red;
    color:whitesmoke;
    -size: 0.8rem;

    }
    .alert h3{
        color:white;
    }
