.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  height: 100%;
  width: 100%;

  position: fixed;
  top:50%;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 100px;
  margin: 1px;
  border-radius: 50%;
  border: 6px solid var(--accent-color);
  border-color:  var(--accent-color) transparent  var(--accent-color) transparent;
  animation: lds-dual-ring 0.6s linear infinite;
}

.loading-spinner__overlay {
  height: 300%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 100;
 
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
