.styled-table {
    border-collapse: collapse;
    margin:auto;
    width: 80%;
    font-size: 0.9em;
    font-family: sans-serif;

    color:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
  }
  .logs{
    color:white;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
  }
  .styled-table thead tr th {
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-align:  center;
  }
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  
  .styled-table tbody tr {

  }
  

  
  .styled-table tbody tr:last-of-type {
  
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #0b005b;
  }
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #6f6f6f;

  }
    
  @media only screen 
and (max-device-width : 768px) 
 {
  .logs *{
    font-size: 0.7rem;
  }

  .styled-table tbody tr {

  }
  .styled-table th,
  .styled-table td {
      padding: 5px 5px;
  }
  .styled-table thead tr th {
    font-size: 0.8rem;

  }

  /* Styles */
}
.page-crumbs ul{
  text-decoration: none;
  margin:0;
  padding:0;
  display: flex;
 
}
.page-crumbs li{
  text-decoration: none;
  padding: 0.2em 1em 0.2em 1em;
  display: inline-block;
  color:var(--navtext);
  transition: 0.15s;
  vertical-align: middle;
  margin-left: 20px;
  min-width: 5rem;
  border-radius: 0.3rem;
  margin: 1rem;
}

.page-crumbs .crumb:hover{
  color:white;
  transform: translateY(-10px);
  border-radius: 3px;
  background-color:var(--secondary-nav); ;

}
.page-crumbs .active{
  color:white;
  background-color:var(--secondary-nav);
}
