.modal {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  ;
    margin: auto;
    text-align: center;
    z-index: 100;
    transition: 0.15s;
    backdrop-filter: blur(100px);
    position: fixed;
    top:50%;
    margin: auto;
}

.success {
    background-color: #5cb85c;
    color: #fff;
}

.error {
    background-color: #ff1c14;
    color: #fff;
}
.disabled{
    opacity:0.5;
     transform: scale(0);

}