.modal {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0.9;
    margin: auto;
    text-align: center;
    z-index: 100;
    transition: 0.15s;
    backdrop-filter: blur(100px);
    position: fixed;
    top:50%;
    font-size: 1.5rem;
    margin: auto;
    transition: 0.3s ease-in-out;

}

.success {
    background-color: #5cb85c;
    color: #fff;
}

.error {
    background-color: #d6210d;
    color: #fff;
}
.disabled{
    opacity:0.5;
     transform: scale(0);
     translate:-80vw;

}
.disabled-2{
    opacity:0.5;
    transform: scale(0);
    translate: 80vw;
}