.RectangularBar{
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    height: 300px;
    width: 150px;
    border-radius: 10px;
    width: 50%;
    
}
.RectangularBar span{

    font-size: 15px;
    font-weight: 800;
}