.RectangularBar{
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    height: 300px;
    width: 150px;
    border-radius: 10px;
    width: 50%;
    transition:  0.3s ease-in-out;
    
}
.RectangularBar span{

    font-size: 15px;
    font-weight: 800;
    transition: 0.15s;
}