.control-panel {
    border-radius: 8px;
  
    padding: 20px;
    margin: 20px;
    background-color: var(--primary-card-bg);
   
    width: min(80vw,600px);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color:var(--primary-card-bg);
  
    
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    justify-content: center;
 align-items: center;
 transition: 0.15s;
 box-shadow: var(--card-shadow);
  }
  
  /* Styling for the buttons inside the control panel */


  .small-flex-box{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding:2rem;
    background-color:  var(--primary-card-bg);
    border-radius: .7rem;
    width: min(80vw,600px);
    transition: 0.15s;
    box-shadow: var(--card-shadow);
 
  }
  .control-panel *{
    transition: 0.15s;
    font-size: 1.5rem;
  }
  .control-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    opacity: 1;
    scale: 1;
    
    justify-content: space-evenly;
  }
  .control-page{
    display: flex;
    flex-flow: wrap;
  }
  @media only screen 
  and (max-device-width : 768px) 
   {
      .widgets{
        display: flex;
        flex-direction: column;
      }
      .control-page *{
        font-size: 1rem;
      }
    /* Styles */
  }
  .disabled-anim{
    opacity: 0.1;
    transform: scale(0);
    transition: 0.15s;
  }
  .enabled-anim{
    opacity: 1;
    transform: scale(1);
    
     border:none;
  }
